a {
  text-decoration: none;
}
.my-nav ul {
  background-color: #fff;
}
.my-nav a {
  color: #707070;
  font-size: 17px;
}
.my-nav a:hover {
  color: #ffe600;
}
.content-header .header-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.content-header {
  background-image: url(../Images/Slider\ Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 50px);
}
.content-header p span {
  color: #ffe600;
}
.content-header p {
  color: #e6e6e6;
  font-size: 20px;
}
.content-header h1 {
  color: #e6e6e6;
  font-size: 50px;
}
.content-header a {
  color: #ffe600;
  background-color: #e6e6e6;
}
.content-header .slide span {
  background-color: #e6e6e6;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 10px;
}
.content-header .slide span:first-of-type {
  background-color: #ffe600;
}





.photo1 img{
  width: 100%;
}
.aboutcontent{
  background-color: #042231;
}
.skills p {
  color: white;
  margin-bottom: 10px;
  margin-top: 7px;
  
}
.skills1{
  width: 100%;
  height: 10px;
  background-color: white;

}
.skills2{
  width: 90%;
  height: 10px;
  background-color: rgb(240, 237, 56);

}
/* ///////////////////////////////
//////////////////////////////
/////////////////////////////
////////////////////////////
///////////////////////////
//////////////////////////
/////////////////////////
////////////////////////
///////////////////////
//////////////////////
/////////////////////
////////////////////
///////////////////
//////////////////
/////////////////
////////////////
///////////////
//////////////
/////////////
////////////
///////////
//////////
/////////
////////
///////
//////
/////
////
///
//
/ */
.footer {
  background-color: #182227;
}

.footer,
.footer a {
  color: #fafafa;
}
.footer a:hover {
  color: #ffe600;
}
.footer span {
  color: #ffe600;
}
